body{
	background-color: red;
	padding-left: 100px;
	padding-right:100px;
}
.header{
	background-color: #bdf7f1;
	height: 150px;
}
.header-logo{
	float: left;
	padding: 30px 40px 30px;
}
.header-list li{
	list-style: none;
	float: left;
	padding: 65px 30px;
	font-size: 25px;
	font-family: georgian;
	color: navy
}
.main{
	background-color: white;
	height: 2750;
}
marquee{
	font-size:15px;
}
.main-content{
	padding-top: 30px;
}
.main-content-inti p{
	padding-right: 30px;
	padding-left: 30px;
	font-size: 20px;
}
.main-content-inti ul{
	font-size: 20px;
}
.main-content-lain h2{
	padding-bottom: 30px;
}
.main-comment{
	padding-right: 30px;
	padding-left: 30px;
	font-size: 20px;
	font: bold;
	background-color: #bdf7f1;
}
.footer{
	background-color: #ceccf3;
	height: 50px;
}
.footer-logo{
	float: right;
	padding: 20px 20px 20px;
}